body {
  background-color: #131516;
  color: #d8d4cf;
}

header, .post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.comment {
  border-radius: 8px;
  background-color: #065b83;
  color: #ccc;
}

form .form-input {
  color: rgb(216, 212, 207);
  background-color: rgb(24, 26, 27);
  border-color: rgb(116, 108, 96);
}